{% extends "main.html" %}

{% block content %}
    {% block content_header %}
    <h1>Edit Movie</h1>
    {% endblock %}
    <form action= "{{url_for('edit_movie', genre_id=genre_id, movie_id=i.id)}}" method='POST'>

    <p>Name:</p>
    <input type='text' size='60' name='name' placeholder='{{i.name}}'>

    <p>Description:</p>
    <textarea type='text' rows='5' cols='55' maxlength='250' name='description' placeholder='{{i.description}}'></textarea>
    </br>
    <input type='submit' value='Edit'>
    </form>
    <a href= '{{url_for('get_movie', genre_id= i.genre_id, movie_id=i.id)}}'>Cancel</a>
{% endblock %}
