{% extends "main.html" %}

{% block content %}
    {% block login %}
        {{ super() }}
    {% endblock %}
    {% block content_header %}
    <h1>Genres</h1>
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    <strong>{{ message }}</strong>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% for genre in genres %}
    <a href='{{ url_for('show_movies', genre_id=genre.id) }}'>{{ genre.name }}</a>
    </br>
    {% endfor %}
{% endblock %}
